@font-face {
    font-weight: 400;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Regular.otf");
  }
  @font-face {
    font-weight: 700;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Bold.otf");
  }
  @font-face {
    font-family: Gilroy-Regular;
    src: url("./Fonts/gilroy-regular.ttf");
  }
  @font-face {
    font-weight: 600;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Semi\ Bold.otf");
  } 
  @font-face {
    font-weight: 300;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Light.otf");
  }
  @font-face {
    font-family: Gilory Light;
    src: url("./Fonts/gilroy-light.ttf");
  }
  @font-face {
    font-family: Gilory Medium;
    src: url("./Fonts/gilroy-medium.ttf");
  }

html{
    width: 1440px;
    margin: 30px 140px 0px;
    padding: 0;
    background: #1D1D1D;
    overflow-x: hidden;
}
.back-fon{
    position: absolute;
    top: -10px;
    right: 140px;
    left: -150px;
    max-width: 2011px;
    max-height: 964px;
    z-index: -1;
}
.header{
    display: flex;
    max-width: 1160px;
    height: 80px;
    margin: 30px 140px 0px 140px;
    justify-content: space-between;
    align-items: center;
    background: #232526;
}
.left-header{
    display: flex;
    margin-left: 60px ;
    gap: 0px 30px   ;
}
.right-header{
    display: flex;
    gap: 0px 30px;
    margin-right: 60px;
}
.kub-mag{
    margin-left: 6px;
}
.kug-mag-adap{
display: none;
}
.btn-menu-adap{
display: none;
}
.btn-header {
    border: none;
    cursor: pointer;
    border-radius: 5%;
    background-color: #232526;
    color: #F4F4F4;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.btn-header:hover{
    border-bottom: 1px solid #F4F4F4;
    opacity: 0.8;
    color: white;
}

h1{
    margin-top: 171px;
    margin: 171px 300px 0;
    align-content: center;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    text-transform: capitalize;
    color: #F4F4F4;
}
.spiral-adap{
    display: none;
}
.gradient{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(rgba(128, 147, 255, 1), rgba(102, 255, 229, 1),rgba(244, 244, 244, 1));
    /* background-image:url(https://tinypng.com/images/social/website.jpg) ; */
}
.btn-down{
    display: flex;
    margin: 164px 720px 0px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D;
}
.btn-down:hover{
    background-color: gray;
    opacity: 0.5;
    border-radius: 15%;
}
.first-block{
    margin: 231px 240px 0px 308px;
    height: 690px;
}
.back-bol{
    position: absolute;
    left: 331px;
    z-index: -1;
}
.first-block-one{
    position: relative;
    left: 684px;
    bottom: 428px;
}
.text-first-block{
    position: relative;
    display: grid;
    gap: 60px 0px;
    left: -170px;
    bottom: 555px;
}
.first-block-text{
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
}
.second-block-text{
    width: 471px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
}
.btn-first-block{
    width: max-content;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:rgba(153, 169, 255, 1);
    background-color: #1D1D1D;
}
.btn-first-block:hover{
    background-color: #232526;
    border-bottom: 1px solid ;
    padding: 0px;
}
.vint{
    position: relative;
    left: 1100px;
    bottom: 1050px;
}
.second-block{
    margin: 200px 140px 0px;
    width: 1160px;
}
.text-second-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 54px   ;
}
.first-second-text{
    width: 664px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
    
}
.num{
    font-size: 80px;
}
.second-second-text{
    width: 442px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #B8B8B8;
}
.block-pic{
    display: flex;
    gap: 0px 89px;
    margin: 90px 0px 0px;
}
.robot{
    display:none;
}
.text-block-pic{
    margin-top:113px;
}
.kawaski{
    width: 93px;
    margin-top: 0;
    margin-bottom: 6px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: rgba(184, 184, 184, 0.7);
}
.name-robo{
    width: 507px;
    margin: 0px 0px ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;    
    text-transform: capitalize;
    color: #F4F4F4;
}
.text-about{
    width: 500px;
    margin: 20px 0 0 0;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #B8B8B8;
}
.btn-viwe{
    padding: 0;
    margin: 45px 0 0 0 ;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #99A9FF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-viwe:hover{
    background-color: #232526;

}
.project-2-adap{
    display: none;
}
.block-three{
   margin: 60px 140px 0 140px; 
   width: 1160px;
   display: flex;
}
.all-text-three{
    margin-top: 113px;
}
.roxerin{
    width: 93px;
    margin-bottom: 6px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: rgba(184, 184, 184, 0.7);  
}
.name-minds{
    margin: 0px 0 20px 0 ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    color: #F4F4F4;

}
.btn-viwe-two{
    padding: 0;
    margin: 45px 0 0 0 ;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #5CE4CF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-viwe-two:hover{
    background-color: #232526;
    border-bottom: 1px solid ;
}
.vint-2{
    position: absolute;
    top: 2510px;
}
.block-investment{
    margin: 200px 0 0 140px;
}
.line-two{
    display: none;
}

.our{
    margin: 30px 0 0 0;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
}
.btn-investment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 90px 0 0 60px;
    gap: 100px 127px;
    width: 1071px;
    cursor: pointer;
}
.btn-investment:focus{
    border: 50px white solid;
    background: rgba(48, 54, 58, 0.2);
    
}
.text-btn{
    gap: 0 9px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #B8B8B8;
}
.text-btn:focus{
    background: linear-gradient(94.32deg, #99A9FF 0%, #5CE4CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* background-image: url(./pi/fon.png); */
}
.block-men{
    margin: 240px 0 0 140px;
    display: flex;
    gap: 0 64px;
}
.adap{
    display: none;
}
.text-men{
 display: grid;
 margin-top: 273px;
 margin-left: 72px;
 height: max-content;
}
.vint-ver{
    position: absolute;
    top:4115px;
    left: 984px;
}
.fone-men{
    position: absolute;
    top: 4200px;
    left: 984px;
    z-index: -1;
}
.text-men-one{
    width: 373px;
    margin: 0 0 40px 0;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-transform: capitalize; 
    color: #FFFFFF;
}
.text-men-two{
    width: 360px;
    margin: 0 0 29px 0;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
}
.btn-viwe-three{
    width: max-content;
    padding: 0;
    margin:0 ;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #232526 ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #99A9FF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-viwe-three:hover{
    background-color: #1D1D1D;
    border-bottom: 1px solid ;
}
.line{
    margin-top: 201px;
    margin-left: 140px;
    height: max-content;
}
.block-hz{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0 0 140px;
}
.block-job-post{
    margin-top:140px ;
    margin-left: 30px;
}
.block-text-job{
    display: flex;
    
}
.text-email{
    margin-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #B8B8B8;
}
.arrow-line{
        padding: 0;
        margin: 70px 0 0 96px ;
        gap: 0px 10px;
        border: none;
        cursor: pointer;
        background-color: #1D1D1D ;
        font-family: 'Ginora Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #5CE4CF;
        flex: none;
        order: 0;
        flex-grow: 0;
 
}
.arrow-line:hover{
    background-color: #3f4243;
    transform: scale(1.5, 1.5);
}
.line-block{
    margin: 40px 0 0 -30px;
}
.mar{
    margin-top: 30px;
}
.grad{
    background: linear-gradient(92.73deg, #99A9FF 0%, #5CE4CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.block-btn-post{
    margin: 270px 0 0 130px;
}
.adaptive-job{
    display: none;
}
.job-categories{
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #F4F4F4;
    background: #1D1D1D;
}
.btn-job{
    margin-top: 30px;
    display: grid;
    max-width: 267px;
    gap: 20px 0;
}
.class-btn{
    justify-content: space-between;
    border: none;
    padding: 0px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #B8B8B8;
    background: #1D1D1D;
}
.class-btn:hover{
    background-color: #1D1D1D;
    border-bottom: 1px solid ;  
}
.line-four{
    display: none;
}
.news{
    margin: 30px 0 0 140px;
}
.stories{
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #F4F4F4;
}
.tape{
    display: flex;
    margin: 90px -140px 0;
    gap: 0 60px ;
}
.img1-adap{
    display: none;
}
.new-one{
    width: 348px;
    overflow:hidden ;
}
.block-text-news{
    width: 497px;
    margin-top: 40px; 
}
.text-news{
    width: 433px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    color: #B8B8B8;
}
.date{
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #B8B8B8;  
} 

.text-and-date-news{
    margin-top: 40px;
    width: 496px;
}
.text-news-two{

    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    background: linear-gradient(96.97deg, #99A9FF 20.47%, #5CE4CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hid{    
    margin-left: -118px;
}
.btn-block{
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    margin-top: 140px;
}
.btn-left-right{
    padding: 0;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D ;
    display: flex;
    align-items: baseline;
    gap: 0 30px;
}
.btn-left{
  opacity: 0.4;  
}
.btn-right{
    opacity: 0.4;
    border-bottom: none;
    rotate: 180deg;
}
.btn-right:hover{
    border: none;
    background: none;
    transform: scale(2, 1.2);
    opacity: 1;
}
.btn-left:hover{
    border: none;
    background: none;
    transform: scale(2, 1.2);
    opacity: 1;

}
footer{
    margin: 200px 0 0 140px;
}
.text-and-form{
    display: flex;
    gap: 0 129px;
}
.ideas{
    width: 565px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background: conic-gradient(from 180deg at 50% 50%, #66FFE6 -160.13deg, #8093FF 42.37deg, #66FFE6 199.87deg, #8093FF 402.37deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-help{
    margin-top: 40px;
    width: 518px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
}
.form{
    /* margin-top: 39px; */
    display: flex;
    flex-direction: column;
}
.line-form{
    position: relative;
    width: 80px;
    height: 3px;
    top: 86px;
    left: 30px;
}
.line-form-email{
    position: relative;
    width: 80px;
    height: 3px;
    top: -2px;
    left: 30px;
}
.line-form-message{
    position: relative;
    width: 80px;
    height: 3px;
    bottom: 2px;
    left: 30px;
}
.inp-name{
    margin-top: 39px;
    width: 466px;
    padding:0 0 19px 30px ;
    border: none;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #B8B8B8;
    background-color: #1D1D1D;
    border-bottom: 1px solid #565656;
}
.btn-end{
    display: flex;
    height: max-content;
    width: max-content;
    margin: 60px 0 0 30px;
}
.footer-btn{
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.left-btn{
    display: flex;
    gap: 0 30px;
}
.right-btn{
    display: flex;
    gap: 0 30px;
}
.style-btn{
    border: none;
    cursor: pointer;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #B8B8B8;
    background-color: #1D1D1D;
}
.style-btn:hover{
    color: #99A9FF;
}
.final-text{
    margin: 40px 140px 40px 0   ;
    text-align: center;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #B8B8B8;
}