@media screen and (max-width: 400px) {
    html {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .back-fon {
      display: none;
    }
    .header {
      max-width: 400px;
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    .left-header,
    .right-header {
      display: none;
    }
    h1 {
      margin-top: 100px;
      margin-left: 20px;
      font-size: 42px;
      line-height: 1.2;
    }
    .first-block {
      margin: 100px 20px 0;
    }
    .first-block-one {
      left: 250px;
      bottom: 120px;
    }
    .text-first-block {
      left: 60px;
      bottom: 180px;
    }
    .first-block-text {
      font-size: 32px;
      line-height: 1.2;
    }
    .second-block {
      margin: 100px 20px 0;
    }
    .text-second-block {
      grid-template-columns: 1fr;
      gap: 20px 0;
      align-items: center;
      text-align: center;
    }
    .first-second-text {
      width: auto;
      margin: 0 20px;
      font-size: 36px;
      line-height: 1.2;
    }
    .num {
      font-size: 48px;
    }
    .second-second-text {
      width: auto;
      font-size: 14px;
      line-height: 1.5;
    }
    .block-pic {
      display: none;
    }
    .text-block-pic {
      margin-top: 30px;
    }
    .kawaski {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
    }
    .name-robo {
        font-size: 28px;
        line-height: 32px;
      }
      
      .name-minds {
        font-size: 28px;
        line-height: 32px;
      }
      
      .our {
        font-size: 36px;
        line-height: 42px;
      }
}