@font-face {
    font-weight: 400;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Regular.otf");
  }
  @font-face {
    font-weight: 700;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Bold.otf");
  }
  @font-face {
    font-family: Gilroy-Regular;
    src: url("./Fonts/gilroy-regular.ttf");
  }
  @font-face {
    font-weight: 600;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Semi\ Bold.otf");
  } 
  @font-face {
    font-weight: 300;
    font-family: Ginora Sans;
    src: url("./Fonts/Ginra\ Sans\ Light.otf");
  }
  @font-face {
    font-family: Gilory Light;
    src: url("./Fonts/gilroy-light.ttf");
  }
  @font-face {
    font-family: Gilory Medium;
    src: url("./Fonts/gilroy-medium.ttf");
  }

html{
    width: 1440px;
    margin: 30px 140px 0px;
    padding: 0;
    background: #1D1D1D;
    overflow-x: hidden;
}
.back-fon{
    position: absolute;
    top: -10px;
    right: 140px;
    left: -150px;
    max-width: 2011px;
    max-height: 964px;
    z-index: -1;
}
.header{
    display: flex;
    max-width: 1160px;
    height: 80px;
    margin: 30px 140px 0px 140px;
    justify-content: space-between;
    align-items: center;
    background: #232526;
}
.left-header{
    display: flex;
    margin-left: 60px ;
    gap: 0px 30px   ;
}
.right-header{
    display: flex;
    gap: 0px 30px;
    margin-right: 60px;
}
.kub-mag{
    margin-left: 6px;
}
.btn-header {
    border: none;
    cursor: pointer;
    border-radius: 5%;
    background-color: #232526;
    color: #F4F4F4;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.btn-header:hover{
    border-bottom: 1px solid #F4F4F4;
    opacity: 0.8;
    color: white;
}

h1{
    margin-top: 171px;
    margin: 171px 300px 0;
    align-content: center;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    text-transform: capitalize;
    color: #F4F4F4;
}
.gradient{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(rgba(128, 147, 255, 1), rgba(102, 255, 229, 1),rgba(244, 244, 244, 1));
    /* background-image:url(https://tinypng.com/images/social/website.jpg) ; */
}
.btn-down{
    display: flex;
    margin: 164px 720px 0px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D;
}
.btn-down:hover{
    background-color: gray;
    opacity: 0.5;
    border-radius: 15%;
}
.first-block{
    margin: 231px 240px 0px 308px;
    height: 690px;
}
.back-bol{
    position: absolute;
    left: 331px;
    z-index: -1;
}
.first-block-one{
    position: relative;
    left: 684px;
    bottom: 428px;
}
.text-first-block{
    position: relative;
    display: grid;
    gap: 60px 0px;
    left: -170px;
    bottom: 555px;
}
.first-block-text{
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
}
.second-block-text{
    width: 471px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
}
.btn-first-block{
    width: max-content;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:rgba(153, 169, 255, 1);
    background-color: #1D1D1D;
}
.btn-first-block:hover{
    background-color: #232526;
    border-bottom: 1px solid ;
    padding: 0px;
}
.vint{
    position: relative;
    left: 1100px;
    bottom: 1050px;
}
.second-block{
    margin: 200px 140px 0px;
    width: 1160px;
}
.text-second-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 54px   ;
}
.first-second-text{
    width: 664px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
    
}
.num{
    font-size: 80px;
}
.second-second-text{
    width: 442px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #B8B8B8;
}
.block-pic{
    display: flex;
    gap: 0px 89px;
    margin: 90px 0px 0px;
}
.text-block-pic{
    margin-top:113px;
}
.kawaski{
    width: 93px;
    margin-top: 0;
    margin-bottom: 6px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: rgba(184, 184, 184, 0.7);
}
.name-robo{
    width: 507px;
    margin: 0px 0px ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;    
    text-transform: capitalize;
    color: #F4F4F4;
}
.text-about{
    width: 500px;
    margin: 20px 0 0 0;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #B8B8B8;
}
.btn-viwe{
    padding: 0;
    margin: 45px 0 0 0 ;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #99A9FF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-viwe:hover{
    background-color: #232526;
    border-bottom: 1px solid ;
}
.block-three{
   margin: 60px 140px 0 140px; 
   width: 1160px;
   display: flex;
}
.all-text-three{
    margin-top: 113px;
}
.roxerin{
    width: 93px;
    margin-bottom: 6px;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: rgba(184, 184, 184, 0.7);  
}
.name-minds{
    margin: 0px 0 20px 0 ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
    color: #F4F4F4;

}
.btn-viwe-two{
    padding: 0;
    margin: 45px 0 0 0 ;
    gap: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D ;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #5CE4CF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-viwe-two:hover{
    background-color: #232526;
    border-bottom: 1px solid ;
}
.vint-2{
    position: absolute;
    top: 2510px;
}
.block-investment{
    margin: 200px 0 0 140px;
}


.our{
    margin: 30px 0 0 0;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: #F4F4F4;
}
.btn-investment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 90px 0 0 60px;
    gap: 100px 127px;
    width: 1071px;
    cursor: pointer;
}
.btn-investment:focus{
    border: 50px white solid;
    background: rgba(48, 54, 58, 0.2);
    
}
.text-btn{
    gap: 0 9px;
    border: none;
    cursor: pointer;
    background-color: #1D1D1D;
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #B8B8B8;
}
.text-btn:focus{
    background: linear-gradient(94.32deg, #99A9FF 0%, #5CE4CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* background-image: url(./pi/fon.png); */
}
