body{
    display: grid;
    background-color: #a09b9b;
}
.gora{
 width: 300px;
 transition: width 2s .5s;
 height: 300px;
}
.gora:hover{
    width: 600px;
}
div{
    margin-top: 50px;
}
.sun{    
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation-name: krug;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes krug {
    from{
        background: aqua;
    }
    50%{
        background: blue;
        transform: translateX(100px) translateY(100px);
    }
    to{
        background: plum;
        transform: translateX(200px) translateY(0px); 
    }
}
.tooltip{
    width: max-content;
    position: relative;
    display: inline;
    position: relative;
    top: -450px ;
    left: 650px;
    border: 1px black solid;
    background-color: tomato;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 5px;
    left: -57%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.mask {
    width: 266px;
    background-image: url(./pic/images.jpg);
}
h1 {
    color: #000;
    background: #ffcaca;
    mix-blend-mode: lighten;
    text-align: center;
}