.body{
    background-color: gray;
}

.tabel{
    text-align: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    list-style-image:url(./assets/mar.png) ;
}
.tabel::marker{
    color: black;
    text-shadow: 4px 3px 0px rgb(247, 163, 177);
}
.html{
 color: blue;
 text-shadow: 4px 3px 0px rgb(247, 163, 177);

}
.css{
    width: 50px;
    color: white;
    background-color: blue;
}
.js{
    text-decoration:line-through pink solid 4px ;
}

.hamburger-menu{
    background-color: black;
    height: 50px;
}
.name{
    display: flex;
    position: fixed;
    top: 23px ;
    right: 135px;
    color: white;
}
  .menu__btn {
    display: flex;
    align-items: center; 
    position: fixed;
    top: 20px;
    right: 100px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .icon{
    display:inline-flex;
    margin-top: 25px;
  }
