.body{
    background-color: gray;
}

.tabel{
    text-align: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    list-style-image:url(./assets/mar.png) ;
}
.tabel::marker{
    color: black;
    text-shadow: 4px 3px 0px rgb(247, 163, 177);
}
.html{
 color: blue;
 text-shadow: 4px 3px 0px rgb(247, 163, 177);

}
.css{
    width: 50px;
    color: white;
    background-color: blue;
}
.js{
    text-decoration:line-through pink solid 4px ;
}
.menu{
    display:contents;
    align-content: end;
}
.hamburger-menu{
    background-color: black;
    height: 50px;
}
.name{
    display: flex;
    position: fixed;
    top: 23px ;
    right: 130px;
    color: white;
}
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 100px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color:none ;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: green;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 100px;
  }
  