body{
    background-color: gray;
}
.text{
    display: grid;
    grid-template-areas:"a a a "        
                        "b c d "
                        "e c d ";
    gap: 20px;
    height: 50vh;
    width: 50vw;
    margin: 0;
    grid-template-columns: 1fr 20% 15%;
    grid-template-rows:15% 1fr 10% ;
} 

.innodom1{
    grid-area: a;
    background-color: rgb(0 179 255);
    padding: 10px;
}
.innodom2{
    grid-area: b;
    background-color: rgb(0 179 255);
    padding: 10px;
}
.innodom3{
    grid-area: c;
    background-color: rgb(0 179 255);
    padding: 10px;
}
.innodom4{
    grid-area: d;
    background-color: rgb(0 179 255);
    padding: 10px;
}
.innodom5{
    grid-area: e;
    background-color: rgb(0 179 255);
    padding: 10px;
}




.tab{
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 35vw;
    margin-top: 20px;
    justify-content:space-between ;
}
.head{
    height:15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}
.one{
    display: flex;
    width: 153px;
    height: 30px;
    align-items: center;
    background-color: rgb(232, 232, 232);
}
.two{
    width: 153px;
    height: 30px;
    background-color: rgb(226, 196, 220);
}
.three{
    width: 153px;
    height: 30px;
    background-color: rgb(244, 197, 205);
}
.main{
    display: flex;
    height: 55%;
    justify-content: space-between;
    
}
.four{
    display: flex;
    height: 100%;
    width: 35%;
    background-color:#3E94D1;
}
.five{
    height: 100%;
    width: 60%;
    background-color: aqua;
}
.footer{
    height: 15%;
    display: flex;
    background-color: blue;
}