body{
    margin-top: 20px;
    background-color: gray;
}
.text-img{
 height: 300px;
 overflow-y: auto;
}
.mem{
float: left;
}
.text{
font-size: 30px ;
}
.mem-sec{
    float: right;
}
.imgi{
    width: 300px;
    height: 300px;
}
.planet{
    margin-top: 50px;
}
.planet-i{
    shape-outside: circle();
    float: right;
    border-radius: 50%;
}
:root{
    --main-backcolor: blue;
    --main-color:white;
    --back: aqua;
    --text:center;
    --width: max-content;
}
.dz{
    width: var(--width);
    padding: 10px;
    margin-top: 30px;
    background-color: var(--back);

}
.ino{
    font-size: 30px;
    text-transform: uppercase;
    width:var(--width);
    background-color: var(--main-backcolor);
    color: var(--main-color);
}